@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    letter-spacing: -0.011em;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply tracking-tighter;
    font-feature-settings: "cv02", "cv05", "ss01";
  }
}

@layer utilities {
  .glass {
    @apply bg-surface/80 border border-white/5;
  }
  
  .glass-hover {
    @apply hover:bg-surface transition-colors duration-200;
  }
}
